<<<<<<< HEAD
footer{
    width: 100%;
=======
footer{width: 100%;
>>>>>>> b1a36ad6695fb56f5e6dfdbf608c4a604f52707b
    background-color: $black;
    text-align: center;
    color: $accent1;
    height: 70px; 
    position: fixed; 
    
    left: 0;
    bottom: 0;  
    a{
        color:white;
        cursor: pointer;
        padding: 10px;
<<<<<<< HEAD
    }   
=======

    } 
    p{
        padding-top:10px;
    }
    
>>>>>>> b1a36ad6695fb56f5e6dfdbf608c4a604f52707b
}