@import "_mediaQueries.scss";
footer{
    width: 100%;
    background-color: $black;
    text-align: center;
    color: $accent1;
    height: 100px; 
    position: fixed; 
    left: 0;  
    bottom: 0;  
    padding: 10px 0;
    a {
        color:white;
        cursor: pointer;
        padding: 10px;
    } 
    p {
        padding-top:10px;
    }  
    @include tablet {
        font-size: 1.7rem;
    } 
    @include mobile {
        font-size: 1.5rem;
    }

}
