<<<<<<< HEAD
footer{width: 100%;
=======
footer{
    width: 100%;
>>>>>>> 5c3dd2bb9de39fe8d4ed2d2874ebd679ca154be0
    background-color: $black;
    text-align: center;
    color: $accent1;
    height: 70px; 
    position: fixed; 
    left: 0;
    bottom: 0;  
    a{
        color:white;
        cursor: pointer;
        padding: 10px;
<<<<<<< HEAD

=======
>>>>>>> 5c3dd2bb9de39fe8d4ed2d2874ebd679ca154be0
    } 
    p{
        padding-top:10px;
    }
<<<<<<< HEAD
    
=======
>>>>>>> 5c3dd2bb9de39fe8d4ed2d2874ebd679ca154be0
}