main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 250px);
    justify-content: center;
    align-items: center;
    .saveInput {
        @include sans;
        display: flex;
        flex-direction: row;
        font-size: 3rem;
        width: 700px;
        input {
            width: 80%;
            border: 2px solid $accent1;
            border-radius: 5px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            padding: 10px;
            border-right: 0;
        }
    }
    button {
        @include sans;
        width: 20%;
        background-color: $accent1;
        color: $black;
        border: 2px solid $accent1;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 10px;
        a {
            color: $black;
            display: block;
            width: 100%;
            transition:all 0.8s;
            &:hover {
                color: $white; 
                -moz-transform: scale(-1, 1);
                -webkit-transform: scale(-1, 1);
                -o-transform: scale(-1, 1);
                -ms-transform: scale(-1, 1);
                transform: scale(-1, 1);
               
            }
        }
        &:hover {
            background-color: $accent1;
        }
    }
}
.backronyms{
    transition: all 0.8s; 

    &:hover{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    }
}

.wordChoicesList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    background: transparent;
    border-radius: 5px;
    padding: 25px;
    li {
        padding-right: 5px;
    }
}

.mainTextContainer {
    text-align: center;
    padding: 25px;
    margin-top: -190px;
    h1 {
        @include mediumSans;
        font-size: 4rem;
        color: $black;
        width: 500px;
        margin: 0 auto;
    }
    span {
        display: block;
    }
    p {
        @include sans;
        font-size: 2rem;
        display: block;
        width: 750px;
        padding: 25px;
    }
}

.wordListContainer {
    text-align: center;
    h2 {
        @include sans;
        font-size: 4rem;
    }
    h3 {
        @include boldSans;
        font-size: 5rem;
        text-transform: uppercase;
        padding: 25px;
    }
}

.queryWordsHandlingButton {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        @include mediumSans;
        color: $white;
        background-color: $accent1;
        border: 0;
        padding: 10px;
        cursor: pointer;
        width: 250px;
        transition: all 0.5s ease;
        &:hover {
            background-color: $black;
        }
    }
    .tryAnotherButton {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-right: 2px;
    }
    .submitWordButton {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}