.homepage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 250px);
    justify-content: center;
    align-items: center;

    .saveInput {
        @include sans;
        display: flex;
        flex-direction: row;
        font-size: 3rem;
        width: 700px;
        position: relative;
        flex-wrap: wrap;
        input {
            width: 80%;
            border: 2px solid $accent1;
            border-radius: 5px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            padding: 10px;
            border-right: 0;
        }
    }
    .goButton {
        @include sans;
        width: 20%;
        background-color: $accent1;
        color: $black;
        border: 2px solid $accent1;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 10px;
        
        a {
            color: $black;
            padding: 0 30%;
            transition:all 0.8s;
            &:hover {
                color: $white; 
                -moz-transform: scale(-1, 1);
                -webkit-transform: scale(-1, 1);
                -o-transform: scale(-1, 1);
                -ms-transform: scale(-1, 1);
                transform: scale(-1, 1);
            }
        }
    }
}
.backronyms{
    transition: all 0.8s; 

    &:hover{
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
    }
}

.wordChoicesList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    background: transparent;
    border-radius: 5px;
    padding: 25px;
    li {
        padding-right: 5px;
    }
}

.mainTextContainer {
    text-align: center;
    padding: 25px;
    margin-top: -190px;
    h1 {
        @include mediumSans;
        font-size: 4rem;
        color: $black;
        width: 500px;
        margin: 0 auto;
    }
    span {
        display: block;
    }
    p {
        @include sans;
        font-size: 2rem;
        display: block;
        width: 750px;
        padding: 25px;
    }
}

.wordListContainer {
    text-align: center;
    h2 {
        @include sans;
        font-size: 4rem;
    }
    h3 {
        @include boldSans;
        font-size: 5rem;
        text-transform: uppercase;
        padding: 25px;
    }
}

.queryWordsHandlingButton {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        @include mediumSans;
        color: $white;
        background-color: $accent1;
        border: 0;
        padding: 10px;
        cursor: pointer;
        width: 250px;
        transition: all 0.5s ease;
    }

    .tryAnotherButton {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        margin-right: 2px;
    }

    .tryAnotherButton {
        &:hover, &:focus {
            background-color: $black;
        }
    }

    .submitWordLink {
        background-color: $accent1;
        color: white;
        padding: 10px;
        cursor: pointer;
        width: 250px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: all 0.5s ease;

        &:hover, &:focus {
            background-color: $black;
        }
    }
}

.eachWord::after {
    content: " ";
}

.characterLengthError {
    position: absolute;
    bottom: -50px;
    @include sans;
    color: $accent1;
    padding-top: 10px;
    font-size: 2rem;
    text-align: center;
}

.resultsContainer {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 200px;
    margin: 0 auto;
    .resultHeader {
        width: 500px;
        background-color: black;
        text-align: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin: 20px;
        h3 {
            color: white;
            padding: 10px 0;
            text-transform: uppercase;
        }
    }
    .wordsContainer {
        background-color: white;
        border: 1px solid black;
        padding: 10px;
    }
}

.hallOfLiteracyFameHeader {
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
    h2 {
        @include sans;
        font-size: 4rem;
        position: relative;
        display: inline-block;
        &::after {
            content: "";
            width: 100%;
            height: 10px;
            background-color: $accent1;
            position: absolute;
            bottom: -20px;
            left: 0;
        }
    }
}