// Colours
$black: #212121;
$white: #ffffff;
$accent1: #ffb000;
$accent2: #f4f4f4;


// Fonts
@mixin lightSans {
    font-family: halyard-display, sans-serif;
    font-weight: 200;
    font-style: normal;
}

@mixin sans {
    font-family: halyard-display, sans-serif;  
    font-weight: 400;  
    font-style: normal;
}

@mixin boldSans {
    font-family: halyard-display, sans-serif;    
    font-weight: 700;    
    font-style: normal;
}