// Colours
$black: #212121;
$white: #ffffff;
$accent1: #ff7600;
$accent2: #81003b;

// Fonts

@mixin sans {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;  
    font-style: normal;
}

@mixin mediumSans {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
}

@mixin boldSans {
    font-family: 'Montserrat', sans-serif;    
    font-weight: 900;    
    font-style: normal;
}

@mixin serif {
    font-family: 'Maitree', serif;
    font-weight: 500;
    font-style: normal;
}